/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }
  
  /* Estilos de la barra de navegación */
  header {
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  nav a {
    color: #212121;
    font-weight: 500;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #2d9cdb;
  }
  
  /* Estilos de la pantalla de carga */
  .contenedor {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
  
  .pantallaCarga {
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 80%;
  }
  
  .contenedorCarga {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .animacionCarga {
    border: 8px solid #2d9cdb;
    border-top-color: #f5f5f5;
    border-radius: 50%;
    height: 80px;
    margin: 0 auto 20px auto;
    width: 80px;
    animation: girar 1s linear infinite;
  }
  
  @keyframes girar {
    to {
      transform: rotate(360deg);
    }
  }
  
  .textoCarga {
    color: #212121;
    font-size: 24px;
    font-weight: 500;
  }
  