*{
    background-color: #5d9b9b;
}

.contenedor{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
    
}
.titulo{
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 5px;
   
}
.imagen{
    margin-top: 250px;
    width: 200px;
    height: 200px;
    align-self: center;
    animation-name: tuerca;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
}
@keyframes tuerca {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}