@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0 30px;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: #1b1b1b;
  padding: 10px 0;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: #007bff;
}
.banner{
  background: url("./recursos/silvio\ aguilar\ \(2\).png") no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.about{
  padding: 30px 0;
}
.about .title{
  font-size: 38px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 20px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 25px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}

/* NUEVOS ESTILOS CUERPO */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  } */
  
  a {
    text-decoration: none;
    color: #007bff;
  }
  
  h1,
  h2,
  h3 {
    margin-bottom: 1rem;
  }
  
  p {
    margin-bottom: 1.5rem;
  }
  
  /* Estilos para el hero */
  
  #hero {
    background-image: url(./recursos/hero-bg.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: rgb(50, 50, 50);
    text-align: center;
  }
  
  #hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: black;
    max-width: 800px;
    text-align: left;
  }
  
  #hero .btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  #hero .btn:hover {
    background-color: #0062cc;
  }
  
  /* Estilos para sobre mí */
  
  #about {
    padding: 0px;
    text-align: center;
   
  }
  
  #about h2 {
    font-size: 2.5rem;
   
    color: #333;
  }
  
  #about p {
    font-size: 1.2rem;
    
    color: #666;
    max-width: 800px;
    margin: 0px;
    text-align: left;
  }
  
  #about .btn {
    margin: 20px;
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  #about .btn:hover {
    background-color: #0062cc;
  }
  
  /* Estilos para proyectos */
  
  #projects {
    padding: 0px;
    text-align: center;
    
  }
  
  #projects h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #333;
  }
  
  .project-card {
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 1px 0.1px 10px 0.1px gray;
    padding: 1em;
  }
  
  .project-card img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 5px;
  }
  
  .project-card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .project-card p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #666;
    text-align: center;
  }
  
  .botonProyecto {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
   
  }

  #contacto form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 20px;
    background-color: #f8f9fa;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  @media only screen and (max-width: 600px) {
    #contacto form {
      padding: 30px 10px;
      max-width: 90%;
    }
  }
  
  
  #contacto h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .input-group label {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .input-group input,
  .input-group textarea {
    font-size: 1rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e9ecef;
    transition: background-color 0.2s ease-in-out;
  }
  
  .input-group input:focus,
  .input-group textarea:focus {
    outline: none;
    background-color: #fff;
  }
  
  .input-group textarea {
    min-height: 150px;
  }
  
  button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #0062cc;
  }
  .card {
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .card img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .card-footer {
    padding: 5px;
  }
  
  .card-footer h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #333;
  }
  
  .btn-descargar {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  /* .imagenApp{
    
  } */
  .btn-descargar:hover {
    background-color: #0062cc;
  }
  .imagenDescargar{
    padding: 5px;
  }
  .card{
    width: 200px;
    height: 400px;
  }
  .contenedor{
    display: flex;
    justify-content: space-around;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  header h1 {
    margin: 0;
    font-size: 24px;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
  }
  
  .card {
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .card img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .card-footer {
    padding: 10px;
  }
  
  .card-footer h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #333;
  }
  
  .btn-descargar {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-descargar:hover {
    background-color:#cdcdcd
  
  }
  
  footer {
    background-color: #f2f2f2;
    
    padding: 20px;
    
  }
  
  
  @media (max-width: 768px) {
    main {
      flex-direction: column;
      align-items: center;
    }
    
    .card {
      width: 80%;
      margin-bottom: 40px;
    }
  }
  
  @media (max-width: 576px) {
    .card {
      width: 100%;
    }
  }

 
