* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    background: #f6f6f6; /*cambiamos el color de fondo*/
  }
  
  .menu_bar {
    display: none;
  }
  
  header {
    width: 100%;
  }
  
  .iconoMenu {
    width: 50px;
    margin-left: 60%;
  }
  
  header nav {
    background-color: #F5F5F5;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1000px;
    width: 100%;
    z-index: 1000;
  }
  
  header nav ul li:hover {
    background-color: #E0E0E0;
  }
  
  header nav ul li a {
    color: #333;
    font-weight: bold;
    display: block;
    text-decoration: none;
    padding: 20px;
  }
  
  header nav ul li a:hover {
    color: #000;
  }
  
  header nav ul li .children {
    display: none;
    background-color: #F5F5F5;
    position: absolute;
    width: 150%;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  header nav ul li .children li {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #E0E0E0;
  }
  
  header nav ul li .children li a {
    display: block;
    color: #333;
    padding: 10px;
  }
  
  header nav ul li .children li a:hover {
    background-color: #E0E0E0;
  }
  
  header nav ul li .caret {
    margin-left: 10px;
    margin-right: 0px;
    position: relative;
    top: 3px;
  }
  
  
  @media screen and (max-width: 800px) {
    body {
      padding-top: 80px;
    }
  
    .menu_bar {
        display: block;
        width: 100%;
        position: fixed;
        top: 0;
        background: linear-gradient(to right, #333333, #444444 90%);
        box-shadow: 1px 1px 1px 1px #666666;
        border-radius: 4px;
    }
    
    
    .menu_bar .bt-menu {
      display: block;
      padding: 10px;
      color: white;
      overflow: hidden;
      font-size: 25px;
      font-weight: bold;
      text-decoration: none;
    }
  
    .menu_bar span {
      float: right;
      font-size: 40px;
    }
  
    header nav {
      width: 80%;
      height: calc(90% - 70px);
      position: fixed;
      right: 100%;
  
		margin: 0;
		overflow: scroll;
	}

	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}

	header nav ul li a {
		display: block;
	}

	header nav ul li:hover .children {
		display: none;
	}

	header nav ul li .children {
		width: 100%;
		position: relative;
	}

	header nav ul li .children li a {
		margin-left:20px;
	}

	header nav ul li .caret {
		float: right;
	}
}


  
  /* NUEVOS ESTILOS */

  /* Estilos generales */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
  }
  
  h1,
  h2,
  h3 {
    margin-bottom: 1rem;
  }
  
  p {
    margin-bottom: 1.5rem;
  }
  
  /* Estilos para el hero */
  
  #hero {
    background-image: url(./recursos/hero-bg.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: rgb(50, 50, 50);
  }
  
  #hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: black;
    max-width: 800px;
  }
  
  #hero .btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  #hero .btn:hover {
    background-color: #0062cc;
  }
  
  /* Estilos para sobre mí */
  
  #about {
    padding: 4rem 2rem;
    text-align: center;
  }
  
  #about h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #333;
  }
  
  #about p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #666;
    max-width: 800px;
    margin: 0 auto 2rem auto;
  }
  
  #about .btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  #about .btn:hover {
    background-color: #0062cc;
  }
  
  /* Estilos para proyectos */
  
  #projects {
    padding: 4rem 2rem;
    text-align: center;
  }
  
  #projects h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #333;
  }
  
  .project-card {
    margin-bottom: 2rem;
  }
  
  .project-card img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .project-card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .project-card p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #666;
  }
  
  .botonProyecto {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
   
  }

  #contacto form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
    background-color: #f8f9fa;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  #contacto h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .input-group label {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .input-group input,
  .input-group textarea {
    font-size: 1rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e9ecef;
    transition: background-color 0.2s ease-in-out;
  }
  
  .input-group input:focus,
  .input-group textarea:focus {
    outline: none;
    background-color: #fff;
  }
  
  .input-group textarea {
    min-height: 150px;
  }
  
  button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #0062cc;
  }
  
 
  


 
  
  